@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../lib/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(../lib/fonts/Lato-Italic.ttf);
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(../lib/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: 'SS BlackHead';
  src: url(../lib/fonts/SequelSans/SequelSansBlackHead.ttf);
}

@font-face {
  font-family: 'SS SemiBoldHead';
  src: url(../lib/fonts/SequelSans/SequelSansSemiBoldHead.ttf);
}

@font-face {
  font-family: 'SS MediumHead';
  src: url(../lib/fonts/SequelSans/SequelSansMediumHead.ttf);
}


body, h1, p {
  color: white;
}

body, p {
  font-family: 'Lato';
  font-weight: 400;
}

body {
  transition: 0.5s
}

div, p, canvas, i, em {
  transition: 1s
}

h1 {
  font-family: 'SS BlackHead';
  font-size: 80px;
}

h2 {
  font-family: 'SS SemiBoldHead';
  font-size: 70px;
}

h4 {
  font-family: 'SS SemiBoldHead';
  font-size: 140px;
  text-align: left;
}

h5 {
  font-family: 'SS SemiBoldHead';
  font-size: 140px;
  text-align: left;
}

h6 {
  font-family: 'SS MediumHead';
  font-size: 30px;
  text-align: left;
  margin-left: 10px;
  margin-top: 20px;
}

h3 {
  font-family: 'SS MediumHead';
  font-size: 40px;
}

.center-text {
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.white-bg {
  background-color: white;
}

.white, .white h1, .white p {
  color: #1CA1DB;
  text-shadow: none;
}

.gray-bg {
  background-color: gray;
}

.red-bg {
  background-color: #ff2929;
}

.orange-bg {
  background-color: #FC8F47;
}

.green-bg {
  background-color: rgb(153, 204, 0);
}

.purple-bg {
  background-color: rgb(170, 102, 204);
}

.black-bg {
  background-color: rgb(0, 0, 0);
}

.blue-bg {
  background-color: #1CA1DB;
}

.step {
  width: 900px;
  padding: 40px;
  font-size: 48px;
}


.step:not(.active) {
  opacity: 0;
}

#step-intro-3:not(.active) {
  opacity: 100;
}

#step-intro-6:not(.active) {
  opacity: 100;
}

#step-definition:not(.active) {
  opacity: 100;
}

#step-definition-2:not(.active) {
  opacity: 100;
}

#step-architecture:not(.active) {
  opacity: 100;
}

#step-criteres:not(.active) {
  opacity: 100;
}

#step-criteres-4:not(.active) {
  opacity: 100;
}

#step-criteres-8:not(.active) {
  opacity: 100;
}

#step-criteres-13:not(.active) {
  opacity: 100;
}

#step-criteres-14:not(.active) {
  opacity: 100;
}

#step-criteres-16:not(.active) {
  opacity: 100;
}

#step-criteres-21:not(.active) {
  opacity: 100;
}

#step-terrain-8:not(.active) {
  opacity: 100;
}

#step-terrain-11:not(.active) {
  opacity: 100;
}

#step-terrain-13:not(.active) {
  opacity: 100;
}

#step-terrain-15:not(.active) {
  opacity: 100;
}

#step-terrain-20:not(.active) {
  opacity: 100;
}

#step-terrain-22:not(.active) {
  opacity: 100;
}

#step-conclusion:not(.active) {
  opacity: 100;
}






